module Emails
  class AboutError
  	def initialize(error)
  	  @error = error
  	end

    def call 
      unless REDIS_CLIENT.exists(error)
        REDIS_CLIENT.set(error, nil, ex: 3600*7*24)
        ActionMailer::Base::mail(to: Account::ADMIN_EMAIL, subject: 'Error handled!', content_type: 'html/text')
      end
    end

    private

    attr_reader :error
  end
end