<%= form_for @customer do |f| %>
  <div class="form-group">
    <%= f.text_field :total_account, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Save", class: 'btn btn-primary' %>
    <%= link_to "Cancel", :back, class: 'btn btn-outline-primary' %>
  </div>

<% end %>
