<h1> Profile </h1>
<p> Name: <%= @account.name %></p>
<p> Age: <%= @account.age %></p>	
<p> City: <%= @account.city %></p>
	
<div class:'form-group'>
  <%= link_to 'Edit', edit_account_path(@account), class: 'btn btn-primary' %> 
</div>
